{
  "plugins": ["transform-object-rest-spread"],
  "presets": [
    "flow",
    ["env", {
      "modules": "commonjs",
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "env": {
    "es": {
      "plugins": ["transform-object-rest-spread"],
      "presets": [
        "flow",
        ["env", {
          "modules": false,
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }]
      ]
    }
  }
}
