{
  "env": {
    "commonjs": {
      "plugins": ["transform-object-rest-spread"],
      "presets": [
        "flow",
        ["env", {
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }]
      ]
    },
    "es": {
      "plugins": ["transform-object-rest-spread"],
      "presets": [
        "flow",
        ["env", {
          "modules": false,
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }]
      ]
    }
  }
}
